---
---
// Table
:root{ --main-color: #02556B; }
.pricingTable{
    color: var(--main-color);
    background: var(--main-color);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 15px -2px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}
.pricingTable:before{
    content: '';
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 150px/80px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.pricingTable .pricingTable-header{ margin: 0 0 35px; }
.pricingTable .title{
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
}
.pricingTable .duration{
    font-size: 15px;
    padding: 0 12px;
    position: relative;
}
.pricingTable .duration:before,
.pricingTable .duration:after{
    content: '';
    background-color: var(--main-color);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 7px;
}
.pricingTable .duration:after{
    left: auto;
    right: 0;
}
.pricingTable .pricing-content{
    text-align: left;
    padding: 0;
    margin: 0 0 35px;
    list-style: none;
    display: inline-block;
}
.pricingTable .pricing-content li{
    color: #555;
    font-size: 19px;
    font-weight: 300;
    line-height: 35px;
    padding: 0 15px 0 35px;
    margin: 0 0 10px;
    position: relative;
}
.pricingTable .pricing-content li:last-child{ margin: 0; }
.pricingTable .pricing-content li:before{
    content: "\f00c";
    color: #3A7B12;
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    position: absolute;
    top: 3px;
    left: 8px;
}
.pricingTable .pricing-content li.disable:before{
    content: "\f00d";
    color: #F8444A;
}
.pricingTable .price-value{
    font-size: 55px;
    font-weight: 300;
    line-height: 50px;
    margin: 0 0 30px; 
}
.pricingTable .pricingTable-signup a{
    color: #fff;
    background-color: #00182B;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: 3px 13px;
    transition: all 0.3s;
}
.pricingTable .pricingTable-signup a:hover{
    color:#fff;
    background: var(--main-color);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
    letter-spacing: 2px; 
}
.pricingTable.pink{ --main-color: #FF2E5E; }
.pricingTable.green{ --main-color: #00C2A5; }
@media only screen and (max-width: 990px){
    .pricingTable{ margin: 0 0 40px; }
}
// Colors
$primary: #e5261f;
$primary-dark: #a01b16;
$secondary: #f88379;
$black: #2f2f41;
$white: #ffffff;
$white-offset: #fff6f8;
$steel: #5c5a5a;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 10%);
$link-hover-decoration: underline;

// Fonts
$font-family-base: Helvetica, Arial, sans-serif, -apple-system;
$font-family-heading: "Playfair Display", serif, -apple-system;

// Footer
$footer-background-color: $primary;
$footer-text-color: $white;
$sub-footer-background-color: darken($primary, 10%);
$sub-footer-text-color: $white;

// Bootstrap
@import "bootstrap-variables";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
// @import 'bootstrap/bootstrap'; // Uncomment this line to import the entire Bootstrap library

// Libraries
@import "libraries/hamburgers/hamburgers";

// Components
@import "components/type";
@import "components/page";
@import "components/header";
@import "components/footer";
@import "components/sub-footer";
@import "components/logo";
@import "components/main-menu";
@import "components/main-menu-mobile";
@import "components/hamburger";
@import "components/buttons";
@import "components/call";
@import "components/title";
@import "components/content";
@import "components/intro";
@import "components/intro-image";
@import "components/strip";
@import "components/feature";
@import "components/social";
// @import "components/fonts"; // Uncomment this line to self host font

// Pages
@import "pages/page-home";
@import "pages/page-teams";
@import "pages/page-service";

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    line-height: 1.3;
  }
}
